
.post {
    margin: 1rem 0;
    text-decoration: none;
    color: grey;


  }

h3 {
  text-decoration: none;
  padding-bottom: 1rem;
  margin-top: -1rem;
}


.posts {
    list-style-type: none;
    margin: 0;
      padding-top: 0rem;
}

p {


}