.footer {
  margin-top: 3rem;
}

.icons {
  width: 5%;
  height: auto;
  float: right;
  clear: right;
  display: flex;
  margin: 0;
  margin-right: 100px;
}

.icon {
  margin-right: 1.3rem;
  padding-left: 10px;
}
